<!-- <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            </a>
            <img src="../../assets/icon/fish.ico" class="bi me-2" width="40" height="40" alt="">
            Powered by <a href="https://www.eei.com/" class="ms-2 me-2">EEI</a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 EEI, Inc</span>
        </div>
        <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
            Developed by <a href="https://www.linkedin.com/in/andrew-lee-5b1b1b1b9/" class="ms-2 me-2">Teelakreiste</a>
            and <a href="https://www.linkedin.com/in/andrew-lee-5b1b1b1b9/" class="ms-2 me-2">Karen Mercado</a>
        </div>
    </footer>
</div> -->

<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Powered by<a href="/" class="ms-2 me-2">EEI</a>© 2022 EEI, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="../../assets/imgLogin/undraw_fish_bowl_uu88.svg" class="bi me-2" alt="">
        </a>
        <div class="nav col-md-4 justify-content-end">
            Developed by <a href="https://github.com/Teelakreiste" class="ms-2 me-2">Teelakreiste</a>
            and <a href="https://github.com/KarenMercado" class="ms-2 me-2">Karen Mercado</a>
        </div>
    </footer>
</div>