<div class="cont">
    <div class="container bg-white rounded-5 shadow-5-strong p-5 div-form">
        <div>
            <a (click)="onBack()"><i class="fa-solid fa-arrow-left"></i></a>
            <h1>COMPANY INFORMATION</h1>
        </div>
        <div class="row justify-content-center">
            <form class="form" id="formulario">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example1" class="form-control" required/>
                            <label class="form-label" for="form6Example1">*NIT</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example2" class="form-control" required/>
                            <label class="form-label" for="form6Example2">*Company Name</label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example3" class="form-control" required/>
                            <label class="form-label" for="form6Example3">*Email</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example4" class="form-control" required/>
                            <label class="form-label" for="form6Example4">*Phone</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example4" class="form-control" />
                            <label class="form-label" for="form6Example4">Cell Phone</label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example5" class="form-control" required/>
                            <label class="form-label" for="form6Example5">*Country</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example6" class="form-control" required/>
                            <label class="form-label" for="form6Example6">*City</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example7" class="form-control" required/>
                            <label class="form-label" for="form6Example7">*State</label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example8" class="form-control" required/>
                            <label class="form-label" for="form6Example8">*Address</label>
                        </div>
                    </div>
    
                    <div class="col-md-3">
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example8" class="form-control" required/>
                            <label class="form-label" for="form6Example8">*Zip Code</label>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn" value="Send">
            </form>
        </div>
    </div>
</div>