<div class="cont">
    <div class="container bg-white rounded-5 shadow-5-strong p-5 div-form">
        <div>
            <a (click)="onBack()"><i class="fa-solid fa-arrow-left"></i></a>
            <h1>COMPANY INFORMATION</h1>
        </div>
        <div class="row justify-content-center">
            <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="form" id="formulario">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input formControlName="nit" type="text" id="nit" class="form-control" required>
                            <label class="form-label" for="nit">*Nit</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-outline mb-4">
                            <input formControlName="name" type="text" id="companyName" class="form-control" required>
                            <label class="form-label" for="companyName">*Company Name</label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-outline mb-4">
                            <input formControlName="email" readonly type="text" id="email" class="form-control" required>
                            <label class="form-label" for="email">*Email</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-outline mb-4">
                            <input formControlName="phone" type="text" id="phone" class="form-control" required>
                            <label class="form-label" for="phone">*Phone</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-outline mb-4">
                            <input formControlName="cellphone" type="text" id="cellphone" class="form-control">
                            <label class="form-label" for="cellphone">Cell Phone</label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input formControlName="country" type="text" id="country" class="form-control" required>
                            <label class="form-label" for="country">*Country</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input formControlName="city" type="text" id="city" class="form-control" required>
                            <label class="form-label" for="city">*City</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-outline mb-4">
                            <input formControlName="state" type="text" id="state" class="form-control" required>
                            <label class="form-label" for="state">*State</label>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-outline mb-4">
                            <input formControlName="address" type="text" id="address" class="form-control" required>
                            <label class="form-label" for="address">*Address 1</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-outline mb-4">
                            <input formControlName="address2" type="text" id="address" class="form-control">
                            <label class="form-label" for="address">Address 2</label>
                        </div>
                    </div>
    
                    <div class="col-md-3">
                        <div class="form-outline mb-4">
                            <input formControlName="zipCode" type="text" id="zipCode" class="form-control" required>
                            <label class="form-label" for="zipCode">*Zip Code</label>
                        </div>
                    </div>
                </div>
                <input [disabled]="!companyForm.valid" type="submit" class="btn btn-success" value="Sign up">
            </form>
        </div>
    </div>
</div>