<div class="cont">
    <div class="container bg-white rounded-5 shadow-5-strong p-5 div-form">
        <div class="row justify-content-center">
            <a (click)="onBack()"><i class="fa-solid fa-arrow-left"></i></a>
            <h1>COMPANY INFORMATION</h1>
            <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="form" id="formulario">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="nit">*Nit</label>
                        <input formControlName="nit" type="text" id="nit" class="form-control">
                        <div class="alert-danger" *ngIf="nit.invalid && (nit.dirty || nit.touched)">
                            <div class="container-error-message" *ngIf="nit.errors?.['required']">
                                Required field
                            </div>
                            <div class="container-error-message" *ngIf="nit.errors?.['pattern']">
                                Invalid Nit
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label class="form-label" for="companyName">*Company Name</label>
                        <input formControlName="name" type="text" id="companyName" class="form-control">
                        <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                            <div class="container-error-message">
                                Required field
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="email">*Email</label>
                        <input formControlName="email" readonly type="text" id="email" class="form-control">
                        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div class="container-error-message">
                                Required field
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="phone">*Phone</label>
                        <input formControlName="phone" type="text" id="phone" class="form-control">
                        <div class="alert-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                            <div class="container-error-message" *ngIf="phone.errors?.['required']">
                                Required field
                            </div>
                            <div class="container-error-message" *ngIf="phone.errors?.['pattern']">
                                Invalid phone number
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="cellphone">Cell Phone</label>
                        <input formControlName="cellphone" type="text" id="cellphone" class="form-control">
                        <div class="alert-danger" *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)">
                            <div class="container-error-message" *ngIf="cellphone.errors?.['required']">
                                Required field
                            </div>
                            <div class="container-error-message" *ngIf="cellphone.errors?.['pattern']">
                                Invalid phone number
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="country">*Country</label>
                        <input formControlName="country" type="text" id="country" class="form-control">
                        <div class="alert-danger" *ngIf="country.invalid && (country.dirty || country.touched)">
                            <div class="container-error-message">
                                Required field
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="city">*City</label>
                        <input formControlName="city" type="text" id="city" class="form-control">
                        <div class="alert-danger" *ngIf="city.invalid && (city.dirty || city.touched)">
                            <div class="container-error-message">
                                Required field
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="state">*State</label>
                        <input formControlName="state" type="text" id="state" class="form-control">
                        <div class="alert-danger" *ngIf="state.invalid && (state.dirty || state.touched)">
                            <div class="container-error-message">
                                Required field
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label" for="address">*Address 1</label>
                        <input formControlName="address" type="text" id="address" class="form-control">
                        <div class="alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
                            <div class="container-error-message" *ngIf="address.errors?.['required']">
                                Required field
                            </div>
                            <div class="container-error-message" *ngIf="address.errors?.['minlength']">
                                Address must contain at least 10 characters
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <label class="form-label" for="address">Address 2</label>
                        <input formControlName="address2" type="text" id="address" class="form-control">
                        <div class="alert-danger" *ngIf="address2.invalid && (address2.dirty || address2.touched)">
                            <div class="container-error-message">
                                Required field
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <label class="form-label" for="zipCode">*Zip Code</label>
                        <input formControlName="zipCode" type="text" id="zipCode" class="form-control">
                        <div class="alert-danger" *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                            <div class="container-error-message" *ngIf="zipCode.errors?.['required']">
                                Required field
                            </div>
                            <div class="container-error-message" *ngIf="zipCode.errors?.['pattern']">
                                Postal code is invalid
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Sign Up">
            </form>
        </div>
    </div>
</div>