<div class="container-background">
    <img class="mid-bg" src="../../assets/imgLogin/undraw_fishing_hoxa.svg">
    <div class="container">
        <div class="login-container">
            <div class="bg-white rounded-5 shadow-5-strong p-5 div-form">
                <img class="avatar" src="../../assets/imgLogin/undraw_fish_bowl_uu88.svg">
                <h2>LOGIN</h2>
                <div class="row justify-content-center">
                    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form" id="formulario">
                        <div class="mb-4">
                            <label for="user" class="form-label">Email</label>
                            <input formControlName="email" type="text" class="form-control" id="user" name="usuario" placeholder="" required>
                 
                            <label for="contra" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="contra" name="contraseña" placeholder="" required>
                            <a id="pwd" href="#">Forgot password?</a>
                        </div>
                        <input [disabled]="!loginForm.valid" type="submit" class="btn btn-success" value="Sing In">
                    </form>
                </div>
                    <div class="div-register">
                        <p>Not a member?<a class="pr" (click)="onRegister()"> Join here</a>.</p>
                    </div>
            </div>
        </div>
    </div>
</div>