<img class="mid-bg" src="../../assets/imgLogin/undraw_fishing_hoxa.svg">
<div class="container">
    <div class="login-container">
        <div class="bg-white  rounded-5 shadow-5-strong p-5 div-form">
            <img class="avatar" src="../../assets/imgLogin/undraw_fish_bowl_uu88.svg">
            <h2>LOGIN</h2>
            <div class="row justify-content-center">
                <form class="form" id="formulario">
                    <div class="mb-4">
                        <label for="user" class="form-label">User</label>
                        <input type="text" class="form-control" id="user" name="usuario" placeholder="Usuario" required>
                    </div>

                    <div class="mb-4">
                        <label for="contra" class="form-label">Password</label>
                        <input type="password" class="form-control" id="contra" name="contraseña" placeholder="Contraseña" required>
                    </div>
                </form>
            </div>
            <a id="pwd" href="#">Forgot password?</a>
            <input type="submit" class="btn" value="Iniciar">
                <div class="div-register">
                    <p>Not a member?<a class="pr" href=""> Join here</a>.</p>
                </div>
        </div>
    </div>
</div>
