<div>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">FISHKITTEN</span>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </form>
            </li>
            
        </ul>
        <ul class="nav justify-content-end">
            <li id="element-nav" class="nav-item">
                <a class="nav-link" href="#">
                    <p id="low">Returns </p>
                    <span id="highlight">& Orders</span>
                </a>
            </li>
            <li id="element-nav" class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" (click)="logout()" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="img-profile" src="../../assets/imgMain/undraw_pic_profile_re_1tdc.svg" alt="">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Setting</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h3>PRODUCTS</h3>
        <div class="row">
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #1</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #2</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #3</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #4</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #5</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #6</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #7</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #8</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #9</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #10</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #11</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card" style="width: 10rem;">
                    <img class="card-img-top" src="../../assets/imgMain/undraw_page_not_found_re_e9o6.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fish #12</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>