
h1 {
    text-align: center;
    font-weight: bold;
	text-transform: uppercase;
    margin-bottom: 25px;
	color: #37329e;
}

.fa-solid {
    color: #37329e;
    margin: 0 10px;
}

.fa-solid:hover {
    color: #6C63FF;
    cursor: pointer;
}

.container {
    position: fixed;
	/*width: 50%;*/
	right: 0;
	left: 0;
	bottom: 0;
    transform: translateY(-50%);
	z-index: -1;
	padding: 67px;
}

.form-label {
    color: #928c8c;
    transition: .3s;
}

.form-label:hover {
    color: #6C63FF;
}

.form-control {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 1px 5px #37329e;
    border: 0 solid transparent;
    transition: .3s ease all;
}

.form-control:focus {
    border-bottom: 3px solid #6C63FF;
    outline: none;
}

.btn{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
	border-radius: 20px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #6C63FF, #37329e, #6C63FF);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}

.btn:hover{
	background-position: right;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0;
}

.container-error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}