<div class="container bg-white rounded-5 shadow-5-strong p-5 div-form">
    <div class="row justify-content-center">
        <a (click)="onBack()"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>RESET PASSWORD</h1>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
                <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div class="container-error-message" *ngIf="email.errors?.['required']">
                        Email is required
                    </div>
                    <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors?.['pattern']">
                        Email is not valid
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send email</button>
        </form>
    </div>
</div>
